<br><br>
<ul class="nav nav-tabs container">
  <li role="presentation"><a>&nbsp;</a></li>
  <li role="presentation" [class.active]="selectedTab == 'main'"><a (click)="thisTab('main')">Main</a></li>
  <li role="presentation" [class.active]="selectedTab == 'discussion'"><a (click)="thisTab('discussion')">Discussion
    <span *ngIf="task" class="badge">{{task.discussion.length}}</span></a></li>
  <li *ngIf="task && task.status == 'Testing'" role="presentation" [class.active]="selectedTab == 'testingStatus'"><a
    (click)="thisTab('testingStatus')">Testing
    Status</a></li>
</ul>
<br>

<is-loading [visible]="isLoading"></is-loading>

<!--MAIN-->
<div class="container" *ngIf="task && selectedTab == 'main'">
  <div>
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body text-center" [ngClass]="{
              completed: task.status == 'Completed',
              workingonit: task.status == 'Working on It',
              forlater: task.status == 'For Later',
              testing: task.status == 'Testing',
              inqueue: task.status == 'In Queue',
              explainingrequired: task.status == 'Explaining Required'
            }">
              <h3>{{task.title}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default box-group">
              <div class="panel-body box1">
                <strong>Created by:</strong><br>
                {{task.author}}
                <hr>
                <strong>Date:</strong><br>
                {{task.date | date:'medium'}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default box-group">
              <div class="panel-body box1 text-center">
                <strong>Assigned to:</strong><br>
                <div class="assigned-to">{{task.assignee}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="col-md-3">
          <div class="panel panel-default box-group">
            <div class="panel-body text-center">
              <strong>Priority:</strong><br>
              <div class="box-content">
                {{task.priority}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="panel panel-default box-group">
            <div class="panel-body">
              <strong>Status:</strong><br>
              <div class="box-content">{{task.status}}
                <div *ngIf="task.status == 'Testing'"><span *ngFor="let tester of task.testers"><span
                  class="name-initials">{{tester?.name | nameInitials}}</span>&nbsp;</span><br>
                  <i *ngIf="auth.authenticated() && auth.isAdmin()" class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal"
                     data-target="#TestersModal"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="panel panel-default box-group">
            <div class="panel-body">
              <strong>Category:</strong><br>
              <div class="box-content">{{task.category}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center" >
          <div class="panel panel-default box-group" >
            <div class="panel-body">
              <strong>Options:</strong><br>
              <button *ngIf="auth.authenticated() && auth.isAdmin()" class="btn btn-success btn-custom btn-block" data-toggle="modal" data-target="#EditTask">Edit</button>
              <button *ngIf="auth.authenticated() && auth.isAdmin()" (click)="removeTask(task._id.$oid,task.title)" class="btn btn-danger btn-custom btn-block">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">

          <div class="panel-body">
            <span *ngIf="task.comment" [innerHTML]="task.comment | capitalize | markdownToHtml"></span>
            <span *ngIf="!task.comment"><strong>This task has no comment added.</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MAIN END-->

<!--Discussion-->
<div class="container" *ngIf="task && selectedTab == 'discussion'">
  <div class="row text-center">
    <div class="panel panel-default">
      <div class="panel-body">

        <div *ngIf="task.discussion && !anyErrors">
          <div *ngFor="let message of task.discussion">
            <div class="panel panel-default" *ngIf="message != null">
              <div class="panel-heading">
                <h3 class="panel-title text-left">{{message?.user}}<span class="pull-right">{{+message?.date | date:'medium'}}</span>
                </h3>
              </div>
              <div class="panel-body">
                <span class="pull-left">{{message?.message | capitalize}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="anyErrors">
          Something went wrong, your last comment was not saved. Check your Internet Connection. Refresh the
          application.
          <br>
          <pre><code>{{anyErrors}}</code></pre>
        </div>


        <form (ngSubmit)="addMessage(messageForm)" #messageForm="ngForm">
          <div class="form-group">
            <label class="pull-left">Message:</label>
            <textarea ngModel name="message" class="form-control"
                      placeholder="Here you can add a message."></textarea>
          </div>
          <input type="submit" class="btn btn-success btn-block" value="Add Message">&nbsp; &nbsp;

        </form>
      </div>
    </div>

  </div>
</div>
<!--Discussion End-->


<!--Testing Status-->
<div class="container" *ngIf="task && selectedTab == 'testingStatus' && task.status == 'Testing'">
  <div class="row text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">

            <div class="panel panel-default" *ngFor="let tester of task.testers">
              <div class="panel-heading">
                <h3 class="panel-title text-left"><span class="name-initials">{{tester?.name | nameInitials}}</span>
                  {{tester?.name}} <span class="pull-right">{{tester?.date | date:'medium'}} &nbsp;&nbsp;</span></h3>
              </div>
              <div class="panel-body">

                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar"
                       aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                       [ngStyle]="{width: tester?.progress + '%'}">
                    <span class="sr-only">{{tester?.progress}}% Complete</span>
                  </div>
                </div>

                <button *ngIf="tester.name == auth.loggedUser() || auth.isAdmin()" (click)="onProgressEdit(tester.name,tester.progress)" class="btn btn-default" data-toggle="modal" data-target="#EditProgressModal">Change progress.</button>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Testing Status End-->


<!--EDIT TASK MODAL WINDOW-->
<div *ngIf="task">
  <edit-task [selectedTask]="task" (updateTask)="updateEditedTask($event)"></edit-task>
</div>


<!-- Progress edit modal -->
<div class="modal fade" id="EditProgressModal" tabindex="-1" role="dialog" aria-labelledby="myEditProgressModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myEditProgressModal">Edit progress</h4>
      </div>
      <div class="modal-body" *ngIf="selectedTester">

        <div class="alert alert-danger" role="alert" *ngIf="anyErrors">
          Something went wrong, your last edit was not saved. Check your Internet Connection. Refresh the
          application.
          <br>
          <pre><code>{{anyErrors}}</code></pre>
        </div>

        <strong>{{selectedTester.name}}</strong> - {{selectedTester.progress}}%
        <br>

        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
               aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width: selectedTester.progress + '%'}">
            <span class="sr-only">{{selectedTester.progress}}% Complete</span>
          </div>
        </div>

        <div class="form-inline">
          <input type="text" class="form-control" [(ngModel)]="selectedTester.progress" [value]="selectedTester.progress">
          <button (click)="onProgressSave()" type="submit" class="btn btn-success">Save</button>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
